*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
header{
    background-color: #FFF8F3;
}

header{
    padding-top: 54.53px;
}

nav{
    width: 71%;
    max-width: 1243px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 49px;
    font-weight: 900px;
}

.color-orange{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    gap: 55.6px;
    list-style-type: none;
    align-items: center;
}

nav .menu a{
    font-size: 21.8px;
    color: #474747;
    text-decoration: none;
}

.btn{
    font-size: 21.8px;
    color: white;
    font-weight: bold;
    background-color: #FD6E0A;
    padding: 19.63px 38px;
    border-radius: 5px;
    border: none;
}
#banner{
    margin: 53px 41px 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    width: 638px;
}
#banner .banner-content h2 {
font-size: 49px;
font-weight: 600px;
color: #474747;
margin-bottom: 5.45px;
}
#banner .banner-content h1 {
    font-size: 92.7px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 21.8px;
}
#banner .banner-content p{
    font-size: 19.63px;
    color: #757575;
    line-height: 32.7px;
    margin-bottom: 32.7px;
}

#banner .banner-image img{
    max-width: 615px;
    vertical-align: middle;
}